<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <tr class="data-row" *ngFor="let satellites of satellites">
        <td>{{satellites.name}}</td>
        <td [ngClass]="{
            'warning':satellites.type === 'Space Debris'}">{{satellites.type}}</td>
        <td>{{satellites.operational}}</td>
        <td>{{satellites.orbitType}}</td>
        <td>{{satellites.launchDate}}</td>
    </tr>
</table>

<!-- TODO 2b: use *ngFor to display satellite data in the table -->
<!-- TODO 3b: add style directive to conditionally highlight satellite type -->

